In [ ]:
!pip install spacy
!python -m spacy download en_core_web_trf

In [ ]:
"""SpaCy recognizes the following built-in entity types:
PERSON - People, including fictional.
NORP - Nationalities or religious or political groups.
FAC - Buildings, airports, highways, bridges, etc.
ORG - Companies, agencies, institutions, etc.
GPE - Countries, cities, states.
LOC - Non-GPE locations, mountain ranges, bodies of water.
PRODUCT - Objects, vehicles, foods, etc. (Not services.)
EVENT - Named hurricanes, battles, wars, sports events, etc.
WORK_OF_ART - Titles of books, songs, etc.
LAW - Named documents made into laws.
LANGUAGE - Any named language.
DATE - Absolute or relative dates or periods.
TIME - Times smaller than a day.
PERCENT - Percentage, including "%".
MONEY - Monetary values, including unit.
QUANTITY - Measurements, as of weight or distance.
ORDINAL - "first", "second", etc.
CARDINAL - Numerals that do not fall under another type."""

In [6]:
import spacy
import pandas as pd
nlp = spacy.load('en_core_web_trf')

In [7]:
def extarct_NER(document, page_num ,doc_name ,entity_list = None):
  #doc_name, pagenum, entity_type, entity_name, score
  """
  Return- DataFrame (Doc_Name	entity_label  entity_text	page_number)
  """

  output_df = pd.DataFrame()
  doc_name.lower()
  entity_label = []
  entity_text = []
  document_name = []
  page_number = []
  for row in range(len(document)):
    
    doc = nlp(document[row])
    #print(doc)
    #print(doc.ents)

    for entity in doc.ents:

      if entity_list:
          if entity.label_ in entity_list:
            entity_label.append(entity.label_)
            entity_text.append(entity.text)
            page_number.append(int(page_num[row]))
            document_name.append(doc_name)

            #print(entity.label_, ' | ', entity.text)

      else:
        entity_label.append(entity.label_)
        entity_text.append(entity.text)
        page_number.append(int(page_num[row]))
        document_name.append(doc_name)
        #print(entity.label_, ' | ', entity.text)


  output_df['Doc_Name'] = document_name
  output_df['entity_label'] = entity_label
  output_df['entity_text'] = entity_text
  output_df['page_number'] = page_number

  return output_df

def read_local_files(path):

  df = pd.read_csv(path)
  text = list(df['english_text'])
  page_num = list(df['pagenum'])
 
  return text, page_num


# doc = ["Forward foreign exchange contracts The contract amounts of the outstanding forward foreign exchange contracts at 31st December 2021 were US$945.5 million (2020: US$761.6 ","Forward foreign exchange contracts The contract amounts of the outstanding forward foreign exchange contracts at 31st December 2021 were US$945.5 million (2020: US$761.6 "]
#entity_list= ["LOC","ORG","PERSON"] #,"ORG","PERCENT","CARDINAL","QUANTITY",LAW

In [8]:
file_path = r"/content/sample.csv"
text, page_num = read_local_files(file_path)
#print(len(text))
doc_name = "Apple"
output_df = extarct_NER(text, page_num,doc_name)#Return 

output_df.head(5)

,Doc_Name,entity_label,entity_text,page_number
0,Apple,DATE,31st December 2021,100
1,Apple,MONEY,US$945.5 million,100
2,Apple,DATE,2020,100
3,Apple,MONEY,US$761.6 million,100
4,Apple,DATE,31st December 2021,100
5,Apple,MONEY,US$489.6 million,100
6,Apple,DATE,2020,100
7,Apple,MONEY,US$100.0 million,100
8,Apple,PERCENT,0.39%,100
9,Apple,PERCENT,0.67%,100
10,Apple,DATE,2020,100
11,Apple,PERCENT,0.39%,100
12,Apple,PERCENT,0.2%,100
13,Apple,CARDINAL,2020,100
14,Apple,PERCENT,2.4%,100
15,Apple,ORG,Group,100
16,Apple,MONEY,US$199.8 million,100
17,Apple,DATE,2020,100
18,Apple,MONEY,US$100.0 million,100
19,Apple,MONEY,US$ LIBOR,100
20,Apple,DATE,30th June 2023,100
21,Apple,MONEY,US$ LIBOR,100
22,Apple,ORG,98 Dairy Farm International Holdings Limited,100
23,Apple,DATE,2021,100
24,Apple,CARDINAL,30.,100
25,Apple,DATE,31st December,100
26,Apple,DATE,2021,100
27,Apple,CARDINAL,5.4,100
28,Apple,CARDINAL,5.1,100
29,Apple,CARDINAL,10.5,100